- ## Escolha do modelo
- ## Treinamento do modelo
- ## Teste do modelo
- ## Armazenamento do modelo

In [26]:
# maximiza nro de linhas e colunas para exibição
# inibe mensagens de warning
import pandas as pd
pd.set_option('display.max_rows', None) # permite a máxima visualização das linhas em um display
pd.set_option('display.max_columns', None) # permite a máxima visualização das colunas em um display
import warnings
warnings.simplefilter('ignore') # inibe a exibição de avisos de warning
warnings.filterwarnings('ignore') # inibe a exibição de avisos de warning

In [27]:
# modelos de aprendizado por reforço
import keras 
from keras import layers, models, optimizers 
from keras import backend as K 
from collections import namedtuple, deque 
from keras.models import Sequential 
from keras.models import load_model 
from keras.layers import Dense 
from keras.optimizers import Adam

In [28]:
# preparação e visualização de dados
import numpy as np # computação de matrizes
from matplotlib import pyplot as plt # plotagem gráfica
import seaborn as sns # plotagem gráfica
import matplotlib.ticker as ticker  # plotagem gráfica

import datetime 
import math
import random
from numpy.random import choice 
from collections import deque

In [29]:
# carregando arquivo tratado em dataframe
df_soy = pd.read_csv('df_treated/df_soy_treated.csv')

In [30]:
# conferindo a dimensão do dataframe, linhas e colunas
df_soy.shape

(9276, 8)

In [31]:
# ordenando pelo index o dataframe carregado
df_soy = df_soy.sort_index()

In [32]:
# reconhecendo as primeiras linhas do dataframe
df_soy.head(5)

         Date   Open    High    Low   Close  Volume  Open_Interest  Year
0  1999-01-04  567.0  570.00  566.0  569.00    14.0          312.0  1999
1  1999-01-05  570.5  574.00  570.5  573.50    12.0          323.0  1999
2  1999-01-06  574.0  579.00  574.0  577.00    43.0          329.0  1999
3  1999-01-07  574.5  575.75  574.0  574.25    69.0          348.0  1999
4  1999-01-08  579.0  581.00  579.0  580.50    61.0          345.0  1999

In [33]:
# verificando a posição de cada variável
df_soy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9276 entries, 0 to 9275
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           9276 non-null   object
 1   Open           9276 non-null   float64
 2   High           9276 non-null   float64
 3   Low            9276 non-null   float64
 4   Close          9276 non-null   float64
 5   Volume         9276 non-null   float64
 6   Open_Interest  9276 non-null   float64
 7   Year           9276 non-null   int64
dtypes: float64(6), int64(1), object(1)
memory usage: 579.9+ KB

In [34]:
df_soy['Date'] = df_soy['Date'].astype('datetime64[ns]')

In [49]:
X=list(df_soy['Close'])

In [51]:
X=[float(x) for x in X] 
validation_size = 0.2 
train_size = int(len(X) * (1-validation_size)) 
X_train, X_test = X[0:train_size], X[train_size:len(X)]

In [35]:
# salvando o modelo de geração de clusters em arquivo .pkl
import joblib
joblib.dump(k_means, "model/kmeans_card_holder.pkl")

NameError: name 'k_means' is not defined